.createPostPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  background-color: white;
}

.formContainer label {
  font-size: 20px;
  margin-top: 15px;
  color: #333;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.formContainer button:hover {
  background-color: #0066cc;
}

.formContainer .error {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}
.formContainer span{
    color: red;
}